@model IEnumerable<productReport>
@{
    ViewData["Title"] = "ألمنتجات الاكثر بحثا";
}

@section DataTableStyles{

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>تقرير المنتجات الاكثر بحثا</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">ادارة التقارير</a></li>
                    <li class="breadcrumb-item active">المنتجات الاكثر بحثا</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    @* <div class="small-box bg-warning">
    <div class="inner">
    <h3>44</h3>

    <p>@Model.ToList().Count()</p>
    </div>
    <div class="icon">
    <i class="ion ion-person-add"></i>
    </div>
    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>*@
</section>




<!-- /.card-header -->
<div class="card-body">
    <form asp-controller="MostSearchedProducts" asp-action="produtbyUserId">
        <div class="row">
            <div class="col-xl-11">
                <input type="text" placeholder="Search By Name" name="MyName" class="form-control" />
            </div>
            <div class="col-xl-1">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </form>


    <br />

    <table id="MostSearchedProductsTable" class="table table-hover table-bordered table-striped text-center font-weight-bold">

        <thead class="thead-dark">
            <tr>
                <th>اسم الصنف</th>
                <th>وصف الصنف</th>
                <th>اسم المجموعة</th>
                <th>اسم المخزن</th>
                <th>الكمية</th>
                <th>سعر الصنف</th>
                <th>نسبة الخصم</th>
                <th>سعر الصنف الجديد</th>
                <th>بداية الخصم</th>
                <th>نهاية الخصم</th>
                @* <th>صورة الصنف</th>*@

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>@item.ProductId</td>*@
                    <td>@item.ProductName</td>
                    <td>@item.ProductDescription</td>
                    <td>@item.ProductCategoryName </td>
                    <td>@item.StoreName </td>
                    <td>@item.Quantity </td>
                    <td>@item.ProductPrice</td>
                    <td>@item.DiscountPercent </td>
                    <td>@item.ProductNewPrice</td>
                    <td>@item.StartDate </td>
                    <td>@item.EndDate </td>
                    @*  <td>@item.ProductImage </td>*@

                    @* <td>
                <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
                </td>*@
                </tr>
            }

        </tbody>

    </table>

</div>
<!-- /.card-body -->
@section DataTableJS{

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#MostSearchedProductsTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#MostSearchedProductsTable_wrapper .col-md-6:eq(0)');
            $('#example').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}